{{ if .Site.Data.careers.enable }}
<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kaq76j7vMJY?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    
    <!-- Content -->
    <div class="row justify-content-center">
      
      
      <div class="card-deck">
          <div class="card text-center border-primary">
            <div class="card-body">
              <h5 class="card-title">Cloud Engineer</h5>
              <p class="card-text">You build cloud platforms for developers.</p>
            </div>
            <div class="card-footer text-center"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cloud-engineer">Read the job description</a></div>
        </div>
          <div class="card text-center border-warning">
            <div class="card-body">
              <h5 class="card-title">Cloud Developer</h5>
              <p class="card-text">You develop business applications using the cloud.</p>
            </div>
            <div class="card-footer text-center"><a href="#" class="btn btn-warning" data-toggle="modal" data-target="#cloud-developer">Read the job description</a></div>
        </div>
      </div>

      {{ range .Site.Data.careers.profiles }}
      <!-- Modal -->
      <div class="modal fade" id="{{ .slug }}" tabindex="-1" role="dialog" aria-labelledby="{{ .slug }}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ .name }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ .text | markdownify }}</p>
            </div>
            <div class="modal-footer">
              <!-- Calendly link widget begin -->
              <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
              <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
              <a class="btn btn-success" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/skyworkz/introduction-interview'});return false;">Apply now</a>
              <!-- Calendly link widget end -->
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    </div>
</section>
<section class="">
      <div class="text-center">
        <h2>Did we trigger you?</h2>
        <p>Great! Writing texts is hard, especially for job offers. But now you're here, let's take the next step. Let's have a coffee (or a beer if you like).</p>
        <a class="btn btn-outline-primary mt-lg-2" id="book" href="">Apply now</a>
        <script type="text/javascript" src="https://x.ai/embed/xdotai-embed.js" id="xdotaiEmbed" data-page="/bastichelaar/interview" data-height data-width data-element="#book" async></script>
      </div>
</section>
{{ end }}
