    <footer class="main-footer bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="footer-logo"><img src="img/logo_text_right_white.png" alt="..." class="img-fluid"></div>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
            <h5 class="footer-heading">Site pages</h5>
            <ul class="list-unstyled">
                {{ range .Site.Menus.footer }}
                <li>
                        <a class="footer-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
            <h5 class="footer-heading">Services</h5>
            <ul class="list-unstyled">
                {{ range .Site.Menus.services }}
                <li>
                        <a class="footer-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
          </div>
          <div class="col-lg-3">
            <h5 class="footer-heading">Resources</h5>
            <ul class="list-unstyled">
                {{ range .Site.Menus.resources }}
                <li>
                        <a class="footer-link" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
              <p class="copyrights-text mb-3 mb-lg-0">&copy; 2019 Skyworkz</a></p>
              <!-- If you want to remove the backlink, please purchase a license for this template @ https://bootstrapious.com/attribution-free-license. Big thanks!-->

            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="list-inline social mb-0">
                <li class="list-inline-item">
                  <a href="https://linkedin.com/company/skyworkz" class="social-link"><i class="fa fa-linkedin"></i></a>
                  <a href="https://twitter.com/skyworkznl" class="social-link"><i class="fa fa-twitter"></i></a>
                  <a href="https://github.com/skyworkz" class="social-link"><i class="fa fa-github"></i></a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
