
    <section class="get-started">
      <div class="container text-center">
        <h2>Get started today</h2>
        <div class="row">
          <div class="col-lg-8 m-auto">
            <p class="lead text-muted mt-2">If you can make a list or send an email, you can use Appton. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <form action="#" class="subscription-form mt-5">
              <div class="form-group">
                <input type="email" name="email" placeholder="Name@company.com" class="form-control">
                <button type="submit" class="btn btn-primary">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
