
    <section>
      <div class="container">
        <div class="text-center">
          <h2>Professional nerds who want to make impact</h2>
          <p class="lead text-muted mt-2">Technology is what drives us. We are always exploring new tools and languages,<br /> while sharpening our consulting skills.<br /><br /> We want to make our customers happy.</p><a href="#" class="btn btn-primary">Learn More</a>
        </div>
        <div class="row">
          <div class="col-lg-7 mx-auto mt-5"><img src="img/illustration-1.svg" alt="..." class="intro-image img-fluid"></div>
        </div>
      </div>
    </section>
