<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<!-- Hero Section-->
	<div class="hero bg-diagonal">
		<div class="container">
			<h1>{{ .Page.Title }}</h1>
			<div class="post-info-wrapper">
					<p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ .Site.Params.dateFormat | default "Jan 2, 2006" | .Date.Format }}</span></p>
					</div>
			<hr />
		</div>
	</div>

	<div class="post">
	  <!-- Wrapper Start -->
	  <section>
	    <div class="container">
            
	      <div class="row">
            {{ if isset .Params "image" }}
	          <div class="col-md-12">
              {{ with .Params.image }}<div class="float-right m-5 w-25" ><img src="{{ . | absURL }}" class="img-fluid" alt="post-image"></div>{{ end }}
	            <p>{{ .Content }}</p>
            </div>
            {{ else }}
	          <div class="col-md-12">
	            <p>{{ .Content }}</p>
	          </div>
            {{ end }}
		  </div>
		  <p class="center-text" style="padding: 30px;">
				<a class="btn btn-main" href="{{ $.Site.BaseURL }}/blog">Back to blog</a>
			  </p>
	    </div>
	  </section>

	</div>


	{{ partial "footer.html" . }}
     <!-- JavaScript files-->
     {{ partial "scripts.html" . }}
</body>
</html>
