<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<!-- Hero Section-->
	<section class="hero bg-hero">
		<div class="container text-center">
			<h1 class="text-white">{{ .Page.Title }}</h1>
			<div class="row">
			<div class="col-lg-8 mx-auto">
				<p class="lead text-white">{{ .Page.Description }}</p>
			</div>
			</div>
		</div>
	</section>

	<section class="blog diagonal-box bg-white pt-5">
		<div class="container content">
			<div class="row">
				{{ range (.Paginator 4).Pages }}
				<div class="col-md-6 p-md-3">
					<article class="blog-post">
            		{{ with .Params.image }}<!--<img src="{{ . | absURL }}" class="img-thumbnail" alt="post-thumb"> -->{{ end }}
						<h3><a class="text-decoration-none" href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p class="font-italic" style="margin-top: 0;">by {{ .Params.author }} on {{ .Site.Params.dateFormat | default "Jan 2, 2006" | .Date.Format }}</p>
						<p>
              				{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
						</p>
						<a href="{{ .Permalink }}">Read More »</a>
					</article>
				</div>
				{{ end }}
			</div>
			<div class="col-12 d-flex justify-content-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

	<!-- JavaScript files-->
	{{ partial "scripts.html" . }}

</body>
</html>
