<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<!-- Hero Section-->
	<div class="hero bg-hero">
		<div class="container">
			<div class="row justify-content-center">
					<div class="col-md-10">
			<h1>{{ .Page.Title }}</h1>
			<div class="post-info-wrapper">
					<p class="font-italic">by {{ .Params.author }} on {{ .Site.Params.dateFormat | default "Jan 2, 2006" | .Date.Format }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="post">
	  <!-- Wrapper Start -->
	  <section>
	    <div class="container">
            
	      <div class="row justify-content-center">
            {{ if isset .Params "images" }}
	          <div class="col-md-10">
              {{ with (index (.Params.images) 0) }}<div class="float-right m-2 w-50" ><img src="{{ . | absURL }}" class="img-fluid" alt="post-image" title="{{ $.Page.Title }}"></div>{{ end }}
	            <p>{{ .Content }}</p>
            </div>
            {{ else }}
	          <div class="col-md-10">
	            <p>{{ .Content }}</p>
	          </div>
			{{ end }}
			<p class="center-text" style="padding: 30px;">
					<a class="btn btn-main btn-outline-primary" href="{{ $.Site.BaseURL }}/blog">Back to blog</a>
				  </p>
			</div>
		  </div>

	    </div>
	  </section>

	</div>


	{{ partial "footer.html" . }}
     <!-- JavaScript files-->
     {{ partial "scripts.html" . }}
</body>
</html>
