<!DOCTYPE html>
<html>
  <head>
      {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    <!-- Hero Section-->
    <section class="hero">
      <div class="container text-center">
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html" class="animsition-link">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">{{ .Page.Title }}</li>
          </ol>
        </nav>
        <h1>{{ .Page.Title }}</h1>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="lead text-muted">{{ .Page.Description }}</p>
          </div>
        </div>
      </div>
    </section>

    {{ if isset .Params "id" }}
      {{ partial .Params.id . }}
    {{ else }}
      <main>{{ .Content }}</main>
    {{ end }}

     <!-- Footer -->
     {{ partial "footer.html" . }}
     <!-- JavaScript files-->
     {{ partial "scripts.html" . }}
  </body>
</html>