<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<!-- Hero Section-->
	<section class="hero bg-hero">
		<div class="container text-center">
			<h1>{{ .Page.Title }}</h1>
			<div class="row">
			<div class="col-lg-8 mx-auto">
				<p class="lead text-muted">{{ .Page.Description }}</p>
			</div>
			</div>
		</div>
	</section>

	<section class="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="card-deck">
				{{ range (.Paginator 4).Pages }}
					<div class="card">
						<div class="embed-responsive embed-responsive-16by9">
							<a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="embed-responsive-item card-img-top" alt="post-thumb"></a>
						</div>
						<div class="card-body">
						  <h5>{{ .Title }}</h3>
						  <p class="card-text">
							  {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
   					      </p>
						  <a href="{{ .Permalink }}" class="btn btn-primary">Read More</a>
						</div>
					  </div>
				{{ end }}
			  </div>
     		  </div>
			</div>
			<div class="col-12 text-center">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</section>



	{{ partial "footer.html" . }}

	<!-- JavaScript files-->
	{{ partial "scripts.html" . }}

</body>
</html>
