<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form" class="diagonal-box bg-white">
  <div class="container content pt-5">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

            <h2>{{ .box.title }}</h2>
            <p>Whenever you're nearby our office, stop by for a good cup of coffee. We'd love to meet you!</p>
            <ul class="list-unstyled address-block">
              <li>
                <i class="fa fa-map-marker mt-1 mr-2"></i>{{ .box.address }}
              </li>
              <li>
                <i class="fa fa-envelope-o mt-1 mr-2"></i>{{ .box.email }}
              </li>
              <li>
                <i class="fa fa-phone mt-1 mr-2"></i>{{ .box.phone }}
              </li>
            </ul>
            <ul class="social-icons">
            {{ range .social }}
              <li>
                <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
              </li>
            {{ end }}
            </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
            {{ with .gmaps}}
            <div class="block">
              <h2>{{ .title }}</h2>
              <div class="google-map">  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.622344457853!2d5.077285951700536!3d52.10480437963812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66fa9fb18e4b3%3A0x87b3c199ee665619!2sSkyworkz!5e0!3m2!1snl!2snl!4v1557736878153!5m2!1snl!2snl" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>Note that the marker on the map shows the <b>exact</b> location of the Skyworkz office. We share the office with a few other companies, and it's located at the top floor of the building. Streetview doesn't show the entrance yet, but it is there.</p>               
              </div>
            </div>
            {{ end }}
        </div>
      </div>
      <div class="row">
      <div class="col-12">
          <div class="block">
            <h2>Book a meeting</h2>
            <iframe src="https://x.ai/calendar/bastichelaar/phone" style="width:100%;height:100vh;border:none;;" scrolling="auto" > </iframe>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>
{{ end }}