<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p>Copyright &copy; 2019 Skyworkz. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript">
  WebFontConfig = {
          google: { families: [
                  'Roboto:400,100,300,600',
                  'Open Sans:400,300,600',
                  'Volkhov:400italic',
                  'Pathway Gothic One'
          ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
  // ]]>
</script>
