<footer class="main-footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-lg-0 text-center text-md-start">
        <div class="footer-logo"><img src="/img/logo/skyworkz_white.svg" alt="..." class="img-fluid"></div>
      </div>
      <div class="col-md-3 mb-3 mb-lg-0 d-none d-md-block">
        <h5 class="footer-heading">Pages</h5>
        <ul class="list-unstyled">
            {{ range .Site.Menus.footer }}
            <li>
                    <a class="footer-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
      </div>
      <div class="col-md-5 mb-3 mb-lg-0 d-none d-md-block">
        <h5 class="footer-heading">Latest blogposts</h5>
        <ul class="list-unstyled">
            {{ $posts := where .Site.Pages "Type" "blog" }}
            {{ range first 3 $posts }}
            {{ if eq .Type "blog" }}
            <li>
                    <a class="footer-link" href="{{ .Permalink }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
      </div>
      <div class="row mt-lg-3 mb-2">
        <div class="col-6">
          <p class="copyrights-text">&copy; 2020 Skyworkz B.V.</a></p>
        </div>
        <div class="col-6 pull-right">
          <ul class="list-inline social pull-right">
            <li class="list-inline-item">
              <a href="https://linkedin.com/company/skyworkz" class="social-link"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/skyworkznl" class="social-link"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/skyworkz" class="social-link"><i class="fa fa-github"></i></a>
              <a href="https://meetup.com/skyworkz" class="social-link"><i class="fa fa-meetup"></i></a>
              <a href="https://instagram.com/skyworkz.nl" class="social-link"><i class="fa fa-instagram"></i></a>
          </ul>
    </div>
  </div>
</footer>