
    <section class="my-lg-5 bg-diagonal">
      <div class="container text-center">
        <h2 class="display-4">Get in touch</h2>
        <div class="row">
          <div class="col-lg-8 m-auto">
            <p class="lead text-muted mt-2">Do you want to know how we can help you? Let's have a chat.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mx-auto">
              <a class="btn btn-warning rounded-pill mt-lg-2" id="book" href="">Book a phone call</a>
              <script type="text/javascript" src="https://x.ai/embed/xdotai-embed.js" id="xdotaiEmbed" data-page="/bastichelaar/phone" data-height data-width data-element="#book" async></script>
          </div>
        </div>
      </div>
    </section>
