    <section class="hero">
      <div><img src="/img/icons/cloud-computing.svg" alt="..." class="hero-image img-fluid d-none d-lg-block position-absolute mt-5 mr-3" style="top: 100px; z-index: -1; right: 200px; width: 27%;"></div>
      <div class="container mb-4">
        <div class="row align-items-center">
          <div class="col-lg-9">
            <h1 class="hero-heading mb-1 text-bold">Your <span class="text-warning">cloud</span> journey, our business.</h1>
            <div class="row">
              <div class="col-lg-10 mt-2">
                <p class="lead text-muted mt-1 mb-4">We're a boutique consultancy solving complex problems using cloud technology. We partner with our clients to help them establish a cloud native mindset and a future-proof technology stack.</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/services" class="btn btn-warning rounded-pill text-uppercase mr-2">Learn how</a>
                <a href="/contact" class="btn btn-outline-primary rounded-pill text-uppercase">Get in contact</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
