    <section class="bg-white diagonal-box">
        <div class="text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto content">
              <p class="text-muted font-weight-lighter mt-4 mb-2">Companies we work with:</p>
            </div>
          </div>
        </div>
        <div class="clients">
          <div class="owl-carousel content">
              {{ with .Site.GetPage "section" "images" }}
              {{ $resources := .Resources.Match "clients/*" }}
              {{ range shuffle $resources }}
              {{ with . }}
                {{ $imageName := .Name }}
                {{ $image120:= (.Fit "150x80") }}
                  <div class="item mt-1"><img src="{{ $image120.RelPermalink }}" alt="" class="img-fluid"></div>
              {{ end }}
              {{ end }}
              {{ end }}
          </div>
      </div>
    </section>
