<section class="py-lg-5">
    <div class="container">
        <div class="text-center">
          <h2 class="display-4 text-black">Services</h2>
          <div class="row">
            <div class="col-md-8 mx-auto">
              <p class="lead text-muted mt-2 text-light">We like to solve hard problems. Can you challenge us?</p>
            </div>
          </div>
        </div>
        <div class="integrations mt-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="box text-center">
                <div class="icon d-flex align-items-end"><img src="/img/icons/startup.svg" alt="..." class="img-fluid"></div>
                <h3 class="h4">Cloud Kickstart</h3>
                <p class="font-weight-light">A full cloud platform up and running in days, including CI/CD, monitoring and support.</p>
                <a class="" href="/services/kickstart">Explore Cloud Kickstart »</a>
              </div>
           </div>

            <div class="col-lg-4">
              <div class="box text-center">
                <div class="icon d-flex align-items-end"><img src="/img/icons/developer.svg" alt="..." class="img-fluid"></div>
                <h3 class="h4">Cloud Coach</h3>
                <p class="font-weight-light">Our Cloud Coaches help you grow your startup into a healthy cloud-native company without breaking the bank.</p>
                <a class="" href="/services/cloudcoach">Explore Cloud Coach »</a>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="box text-center">
                <div class="icon d-flex align-items-end"><img src="/img/icons/training.svg" alt="..." class="img-fluid"></div>
                <h3 class="h4">Workshops and training</h3>
                <p class="font-weight-light">Become a Cloud expert, Kubernetes wizard or a DevOps guru.</p>
                <a class="" href="/workshops">Explore our training offerings »</a>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-info" href="/services">Read more about our services</a>
          </div>
        </div>
      </div>
    </section>
