<section class="hero bg-hero">
      <div class="container mt-lg-5 mb-3">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <h1 class="hero-heading mb-1 text-bold shadow-black">{{ .Site.Params.hero.title }}</h1>
            <div class="row">
              <div class="col-lg-10 mt-2">
                <p class="hero-subtitle lead text-white mt-1 mb-4 shadow-black">{{ .Site.Params.hero.subtitle }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a href="/services" class="btn btn-warning btn-shadow text-uppercase me-lg-3">Learn how</a>
                <a href="/contact" class="btn btn-outline-primary btn-shadow text-uppercase">Get in contact</a>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>