<!-- JSON-LD -->
{{ if .IsHome }}
<script type="application/ld+json">
{ 
  "@context": "http://schema.org", 
  "@type": "WebSite", 
  "url": "{{ .Permalink }}", 
  "name": "{{ .Site.Title }}",
  "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}"
    },
  "description": "{{ .Site.Params.description }}",
}
</script>
{{ end }}
{{ if .IsPage }}
    <script type="application/ld+json">
    {{if eq .Section "blog"}}
    { 
        "@context": "http://schema.org", 
        "@type": "BlogPosting",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://skyworkz.nl"
        },
        "headline": "{{ .Title }}",
        "genre": "{{ range .Params.tags }}{{ . }} {{ end }}",  
        "url": "{{ .Permalink }}",
        "datePublished": "{{ dateFormat "2006-01-02T15:04:05CET" (default .Date (.PublishDate)) }}",
        "dateModified": "{{ dateFormat "2006-01-02T15:04:05CET" (default .Date (.PublishDate)) }}",
        "description": "{{ .Description }}",
       "publisher": {
        "@type": "Organization",
        "name": "Skyworkz",
        "logo": {
          "@type": "ImageObject",
          "url": "https://skyworkz.nl/img/logo/logo.jpg"
        },
        "image": "{{ .Params.Image }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Site.Params.author }}"
        }
    }
    {{ else }}
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}", 
      "name": "{{ .Title }}",
      "author": {
          "@type": "Person",
          "name": "{ .Site.Params.author }}"
        },
      "description": "{ .Site.Params.description }}"
    }
    {{ end }}
    </script>
{{ end }}
