<script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/js/front.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
    "palette": {
    "popup": {
        "background": "#1e1e26"
    },
    "button": {
        "background": "#4682b4"
    }
    },
    "theme": "edgeless"
});
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154801189-1"></script> 

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154801189-1');
</script>
-->