<section class="py-lg-5 bg-white">
  <div class="container">
      <div class="integrations">
        <div class="row">
          {{ $services := .Site.Data.services.content }}
          {{ range $services }}
          {{ with . }}

          <div class="col-lg-4">
            <div class="box text-center">
              <div class="icon d-flex align-items-end"><img src="/img/icons/{{ .icon }}" alt="..." class="img-fluid"></div>
              <h3 class="h4"><a href="{{ .url }}">{{ .name }}</h3></a>
              <p class="font-weight-light">{{ .text }}</p>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ partial "technologies.html" . }}
  {{ partial "get-started.html" . }}
