{{ if .Site.Params.slider.enable }}
{{ "<!-- Slider Start -->" | safeHTML}}
<section id="slider" class="masthead">
    <div class="fullscreen-bg">
      <video preload="auto" loop muted autoplay playsinline poster="/img/clouds.jpg" class="fullscreen-bg__video">
       <source src="/videos/clouds.webm" type="video/webm">
       <source src="/videos/clouds.mp4" type="video/mp4">
      </video>
    </div>
    <div class="dark-overlay"></div>
    <div class="container h-100 welcome">
        <div class="row h-100 align-items-center text-light">
            <div class="col-12 text-center">
                    <p class="animated fadeInUp text-uppercase mb-0">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
                    <h1 class="display-2 animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
                    <a class="btn btn-main btn-solid-border mt-5" href="#intro" >{{ .Site.Params.slider.btnText }}</a>
            </div>
        </div>
    </div>
</section>
{{ end }}