<!-- Team Start -->
<section id="instagram" class="diagonal-box bg-white">
  <div class="container content mb-5">
    <div class="text-center">
      <h2 class="display-5">Our core values</h2>
      <p class="lead">At Skyworkz we are people oriented. This means a healthy work/life balance, but also being empathic and not judgmental. We are curious, innovative and we have a good sense of humour. And, most of all: we are techies.</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="instagram-content"></div>
        </div>
      </div>
    </div>
</section>

<!-- Team Start -->
<section id="portfolio-work" class="bg-muted">
  <div class="container mb-5">
    <div class="text-center">
      <h2 class="display-5">Meet the people.</h2>
      <p class="lead">Everyone is unique. But at Skyworkz we share the same passion that brings us together: technology. We are a diverse group of skilled professionals, who like to work together and learn from each other. We want to make a lasting impact.</p>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-content">
            <ul id="portfolio-content-active">

              {{ $members := .Site.Data.team.members }}
              {{ $resources := .Resources.Match "images/members/*" }}
              {{ range $resources | shuffle }}
              {{ with . }}

              {{ $imageName := .Name }}
              {{ $image300:= (.Fill "300x300") }}
              {{ $image600 := (.Fill "600x600") }}

              {{ range $members }}

              {{ $id := urlize .name }}
              {{ if eq (printf "images/members/%s" .image ) $imageName }}
              <li class="mix">
                <a href="{{ $image600.RelPermalink }}" data-bs-toggle="modal" data-bs-target="#{{ $id }}" class="portfolio-item">
                  <img src="{{ $image300.RelPermalink }}" class="img-fluid">
                  <div class="overlay">
                    <div>
                      <i class="fa fa-search fz-20"></i>
                      <h2>{{ .name }}</h2>
                      <p>{{ .teaser }}</p>
                    </div>
                  </div>
                </a>
              </li>
              <div class="modal fade" id="{{ $id }}" tabindex="-1" role="dialog" aria-labelledby="{{ $id }}Title"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="{{ $id }}Title">{{ .name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      </button>
                    </div>
                    <div class="modal-body">
                      {{ .description | markdownify }}
                      <img src="{{ $image300.RelPermalink }}" class="img-fluid">
                    </div>
                    <div class="modal-footer">
                      </div>
                  </div>
                </div>
              </div>
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Alumni Start -->
<section id="portfolio-work" class="bg-muted">
  <div class="container mb-5">
    <div class="text-center">
      <h2 class="display-5">Alumni</h2>
      <p class="lead">We like to remember our ex-employees. Meet our Alumni!</p>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-content">
            <ul id="portfolio-content-active">

              {{ $members := .Site.Data.alumni.members }}
              {{ $resources := .Resources.Match "images/members/*" }}
              {{ range $resources | shuffle }}
              {{ with . }}

              {{ $imageName := .Name }}
              {{ $image300:= (.Fill "300x300") }}
              {{ $image600 := (.Fill "600x600") }}

              {{ range $members }}

              {{ $id := urlize .name }}
              {{ if eq (printf "images/members/%s" .image ) $imageName }}
              <li class="mix">
                <a href="{{ $image600.RelPermalink }}" data-bs-toggle="modal" data-bs-target="#{{ $id }}" class="portfolio-item">
                  <img src="{{ $image300.RelPermalink }}" class="img-fluid">
                  <div class="overlay">
                    <div>
                      <i class="fa fa-search fz-20"></i>
                      <h2>{{ .name }}</h2>
                      <p>{{ .teaser }}</p>
                    </div>
                  </div>
                </a>
              </li>
              <div class="modal fade" id="{{ $id }}" tabindex="-1" role="dialog" aria-labelledby="{{ $id }}Title"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="{{ $id }}Title">{{ .name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      </button>
                    </div>
                    <div class="modal-body">
                      {{ .description | markdownify }}
                      <img src="{{ $image300.RelPermalink }}" class="img-fluid">
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-lg-5 bg-diagonal">
  <div class="container text-center">
    <h2 class="display-4">Looking for a new adventure?</h2>
    <div class="row">
      <div class="col-lg-8 m-auto">
        <p class="lead text-muted mt-2">We're always looking for good engineers. Interested in joining? Have a look at our job descriptions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
          <a class="btn btn-warning rounded-pill mt-lg-2" id="book" href="/careers">Careers</a>
      </div>
    </div>
  </div>
</section>


<script>
  $(window).on('load', function () {
    $.instagramFeed({
      'username': 'skyworkz.nl',
      'container': ".instagram-content",
      'items': 12,
      'items_per_row': 3,
      'display_profile': false,
      'display_biography': false,
      'display_gallery': true
    });
  });
</script>
