<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="body body--home">
    <!-- navbar-->
    {{ partial "header.html" . }}
    <!-- Login Modal-->
    {{ partial "login.html" . }}
    <!-- Hero Section-->
    {{ partial "hero.html" . }}

    <!-- Intro Section   {{ partial "intro.html" . }} -->
    <!-- Divider Section {{ partial "divider.html" . }} -->
    <!-- Integrations Section-->
    {{ partial "integrations.html" . }}
    <!-- CLients Section-->
    {{ partial "how.html" . }}
    {{ partial "clients.html" . }}
    <!-- How it works Section-->
    
    <!-- Portfolio Section-->
    {{ partial "portfolio.html" . }}
    <!-- Get Started Section-->
    {{ partial "get-started.html" . }}
    <!-- Footer -->
    {{ partial "footer.html" . }}
    <!-- JavaScript files-->
    {{ partial "scripts.html" . }}
  </body>
</html>